# ambientes virtuales
.venv/
venv/
env/

# bytecode y caché de phyton
__pycache__/
*.py[cod]
*$py.class

# artefactos de prueba y cobertura
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# caché de verificación de tipos y análisis de código
.mypy_cache/
.ruff_cache/
.pyre/
.nox/
.tox/

# salida de empaquetado/compilación
build/
dist/
*.egg-info/

# IDE y editor metadata
.idea/
.vscode/

# archivos generados por el sistema operativo
.DS_Store
Thumbs.db
